/* This file effects index.hbs in views directory */

body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin:0 auto;
    padding: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

footer{
    color: #8888;
    border-top: 3px solid #eeeeee;

}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color:#8888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}